/*
    * ┌─────────────────────────────────────┐
    * │          ROFI THEME FILE            │           
    * │                                     │
    * │            By: sakuyma              │
    * │                                     │
    * └─────────────────────────────────────┘
*/
* {
  bg: #1e1e2e;
  fg: #b4befe;
}
