include "modules/theme.kdl"

include "modules/animations.kdl"

include "modules/autostart.kdl"

include "modules/binds.kdl"

include "modules/input.kdl"

include "modules/layout.kdl"

include "modules/misc.kdl"

include "modules/monitors.kdl"

include "modules/rules.kdl"
