spawn-at-startup "swww-daemon"
spawn-at-startup "xwayland-satellite"
spawn-sh-at-startup "waybar -c ~/.config/waybar/config_niri"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
