layout {
  gaps 16
  center-focused-column "never"

  preset-column-widths {
    proportion 0.5
    proportion 0.66
    proportion 0.33
  }

  preset-window-heights {
    proportion 0.5
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  border {
    // off
    width 3
  }

  shadow {
    off
  }
}

